* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4vw;
    color: #000000;
}

h2 {
    font-size: 3.0vh;
}

p {
    font-size: 3vh;
    color: #000000;
}

.subheader {
    background-color: #4F518C;
    display: flex;
}

.subheader h1 {
    background-color: #2C2A4A;
    color: #DABFFF;
    margin-left: 20vw;
    height: 100%;
    width: 60vw;
    display: flex;
    align-items: center;
    padding-left: 10vw;
}

#menuzao {
    width: 100%;
    background-color: #4F518C;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 15vh;
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: bold;

}

header#inicio {
    justify-content: center;
}

header ul {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header ul a {
    background-color: #2C2A4A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

header ul li {
    color: #DABFFF;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

header ul a:hover>li {
    background-color: #DABFFF;
    color: #2C2A4A;
    transition: 0.3s ease-in-out;

}

header ul a:not(:last-child) {
    border-right: solid 2px #DABFFF;
}


nav {
    display: flex;
    width: 100%;
    background-color: #F4EFFA;
}

nav#introducao {
    min-height: 80vh;
}

nav #esquerda,
nav #direita {
    width: 50%;
}

nav #esquerda {
    color: #000000;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav #esquerda h1 {
    font-weight: bold;
}

nav #esquerda p {
    padding-left: 5px;
}


nav #direita {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #direita img {
    width: 50%;
    border-radius: 50%;
    padding: 20px;
}

#portfolio {
    display: flex;
    flex-direction: column;
}

.portfoliotitulo {
    background-color: #C8B1E4;
    padding: 40px;
    margin: 40px;
    border-radius: 15px;
}

#portfolioconteudo {
    background-color: #F4EFFA;
    width: 100%;

}

#principal {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.pt {
    width: 50%;
    background-color: #b8abe2;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px black;
}

#principal h3 {
    margin-top: 40px;
    margin: 15px;
}

#pa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

#printfortes {
    width: 50%;
    border-radius: 5px;
    border: solid 1px black;
    height: fit-content;
}

#printfortes:hover {
    width: 55%;
    transition: 0.3s ease-in-out;
}

#linha1 img,
#linha2 img {
    border: solid 2px;
    width: 35vw;
    margin: 20px;
    max-height: 300px;
}

#linha1,
#linha2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}

#textosecundario {
    display: flex;
    align-items: center;
    justify-content: center;
}


#servicos {
    display: flex;
    background-color: #F4EFFA;
    flex-direction: column;
}

#servicos_conteudo {
    background-color: #F4EFFA;
    display: flex;
    height: 80vh;
    justify-content: center;
}

#servicos_esquerda {
    width: 60%;
    color: #DABFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicos_direita {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#servicos_direita img {
    width: 70%;
    height: auto;
    max-height: 600px;
}

#servicos_texto {
    padding: 5%;
}

#servicos_texto h1 {
    margin-right: 2%;
    font-style: bold;
    border-bottom: solid #DABFFF 1px;
    padding-right: 5%;
}

#servicos_texto p {
    margin-top: 5%;
}

#redes_sociais {
    background-color: #C8B1E4;
    width: 100%;
}

#redes_sociais img {
    height: 40px
}

.secoes {
    display: flex;
    align-items: center;
    padding: 4vh;
    justify-content: center;
}

.secoes h4 {
    padding-left: 10px;
}

.contatoclicavel {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
li {
    font-family: sans-serif;
}

h4,
p,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 1000px) {

    h1 {
        font-size: 5.9vw;
    }

    h2 {
        font-size: 3.0vh;
    }

    p {
        font-size: 2vh;
    }

    header {
        max-height: 10vh;
    }

    #menu {
        width: 100%;
    }

    nav#introducao {
        flex-direction: column-reverse;
    }

    nav #esquerda,
    nav #direita {
        width: auto;
        min-height: 40vh;
    }


    nav #direita img {
        padding: 40px;
    }

    #pa {
        height: 20vh;
    }

    #servicos_direita {
        display: none;

    }

}